@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');
@import url('https://cdn.rawgit.com/lonekorean/gist-syntax-themes/d49b91b3/stylesheets/obsidian.css');

/* ############################ */
/*  GIST EMBED CUSTOMIZATION                     
*/

@import url('https://fonts.googleapis.com/css?family=Droid+Sans+Mono');

body .gist {
    overflow: scroll;
}

body .gist .gist-data {
    background: #293134;
    height: 160px;
    border-bottom: none;
    padding-bottom: 10px;
}

body .gist .gist-file,
body .gist .gist-meta {
    border: solid 1px #3c3d46;
}

body .gist .gist-meta {
    background: #3c3d46;
}

body .gist .gist-meta .gist-meta {
    border: solid 1px #3c3d46;
}

/* ############################ */
/*  RESET                     
*/

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    color: #fff;
}

html {
    scroll-behavior: smooth;
}

body {
    background-image: url("../imgs/bg.png");
    background-size: cover;
    background-repeat: no-repeat;
}

::-webkit-scrollbar {
    display: none;
}

/* ############################ */
/*  VARIABLES                     
*/

:root {
    --font-main: 'Montserrat';
    --font-sec: 'Montserrat';
    --color-text-white: #000;
    --color-text-black: #fffafa;
    --color-subtext-white: #181818;
    --color-subtext-black: #ccc7c7;
}

/* ############################ */
/*  MENU                     
*/

.menu {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background: #3c3d46;
    width: 75%;
    height: 100vh;
    max-width: 500px;
    transition: all 0.2s ease-in-out;
    border-top-right-radius: 45px;
    border-bottom-right-radius: 45px;
    transform: translateX(-550px);
    box-shadow: 2px 0 3px 4px #3c3d46;
}

.menu.open {
    transform: translateX(0);
}

.menu .menu-content {
    width: 100%;
    height: 100%;
    position: relative;
}

.menu .menu-content .close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 100px;
    padding: 15px;
    background: #0000001a;
    border: solid 1px #3c3d46;
    backdrop-filter: blur(10px);
    cursor: pointer;
}

.menu .menu-content .close-btn ion-icon {
    font-size: 2.2em;
}

.menu .menu-content .menu-links {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-top: 100px;
    margin-left: 50px;
}

.menu .menu-content .menu-links .links-item {
    padding: 10px 0;
    font-family: var(--font-main);
    font-weight: 600;
    font-size: 2em;
}

/* #22c55e#a855f7#eab308#ea6e08#0897ea */

/* ############################ */
/*  HEADER                     
*/

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 900px;
    height: 40px;
    padding: 20px 40px;
    margin: 0 auto;
    background: #0000001a;
    border: solid 1px #3c3d46;
    border-radius: 100px;
    backdrop-filter: blur(10px);
    transform: translateY(40px);
}

.header .logo img {
    width: 40px;
    height: 40px;
}

.header .links .open-btn {
    width: 30px;
    height: 30px;
    border-radius: 100px;
    padding: 15px;
    background: #0000001a;
    border: solid 1px #3c3d46;
    backdrop-filter: blur(10px);
    display: none;
    transform: translateX(28px);
    cursor: pointer;
}

.header .links .open-btn ion-icon {
    font-size: 2.2em;
    transform: translateX(-2px) translateY(-2px);
}

.header .links .links-item {
    position: relative; 
    margin: 0 12px;
    font-family: var(--font-main);
    text-transform: capitalize;
    color: #fffafa;
}

.header .links .links-item::before {
    content: '';
    background: #fffafa;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    transform: translateY(5px);
    transition: all 0.2s ease-in-out;
}

.header .links .links-item:hover::before {
    width: 100%;
}

/* ############################ */
/*  Landing Section               
*/

.landing {
    height: 91vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.landing .text h1 {
    text-align: center;
    font-family: var(--font-sec);
    font-weight: 500;
    font-size: 4em;
    padding: 0 20px;
}

.landing .text p {
    margin: 0 auto;
    margin-top: 30px;
    text-align: center;
    font-family: var(--font-sec);
    font-weight: 500;
    font-size: 1.4em;
    max-width: 600px;
    padding: 0 20px;
}

/* ############################ */
/*  Gists Section                    
*/

.gists {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background: #0000001a;
    backdrop-filter: blur(10px);
}

.gists h1.title {
    margin: 100px 0;
    color: var(--color-text-black);
    font-family: var(--font-main);
    font-weight: 500;
    font-size: 2.5em;
    transform: translateY(20px);
}

.gists .gists-content {
    display: grid;
    margin: 0 auto;
    margin-bottom: 150px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(auto, 1fr);
    grid-column-gap: 48px;
    grid-row-gap: 32px;
}

.gists .gists-content .gists-item {
    padding: 20px 30px;
    background: #0000001a;
    border: solid 1px #3c3d46;
    border-radius: 16px;
    backdrop-filter: blur(10px);
}

.gists .gists-content .gists-item h1 {
    color: var(--color-text-black);
    font-family: var(--font-main);
}

.gists .gists-content .gists-item h2 {
    color: var(--color-subtext-black);
    font-family: var(--font-main);
    font-size: 0.8em;
    padding-bottom: 20px;
}

/* ############################ */
/*  Projects Section                    
*/

.projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background: #0000001a;
    backdrop-filter: blur(10px);
}

.projects h1.title {
    margin: 100px 0;
    color: var(--color-text-black);
    font-family: var(--font-main);
    font-weight: 500;
    font-size: 2.5em;
    transform: translateY(20px);
}

.projects .projects-content {
    display: grid;
    margin: 0 auto;
    margin-bottom: 150px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(auto, 1fr);
    grid-column-gap: 48px;
    grid-row-gap: 32px;
}

.projects .projects-content .projects-item {
    padding: 20px 30px;
    background: #0000001a;
    border: solid 1px #3c3d46;
    border-radius: 16px;
    backdrop-filter: blur(10px);
}

.projects .projects-content .projects-item h1 {
    color: var(--color-text-black);
    font-family: var(--font-main);
}

.projects .projects-content .projects-item h2 {
    color: var(--color-subtext-black);
    font-family: var(--font-main);
    font-size: 0.8em;
    padding-bottom: 20px;
}

.projects .projects-content .projects-item p {
    color: var(--color-text-black);
    font-family: var(--font-main);
    font-weight: 300;
    font-size: 0.8em;
    max-width: 375px;
    padding-bottom: 20px;
}

.projects .projects-content .projects-item a {
    color: var(--color-text-black);
    font-family: var(--font-main);
    font-weight: 300;
    font-size: 1em;
}

.projects .projects-content .projects-item a ion-icon {
    transition: all 0.2s ease-in-out;
    transform: translateY(3px);
}

.projects .projects-content .projects-item a:hover ion-icon {
    transform: translateY(3px) rotate(315deg);
}

/* ############################ */
/*  Footer                     
*/

.footer {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: #0000001a;
    backdrop-filter: blur(10px);
}

.footer p {
    color: var(--color-text-black);
    font-family: var(--font-main);
    font-weight: 300;
    font-size: 0.8em;
}

/* ############################ */
/*  @MEDIA QUERIES for Smartphones                     
*/

@media screen and (max-width: 1000px) {
    .header {
        margin: 0 60px;
    }
    
    .gists .gists-content {
        display: flex;
        flex-direction: column;
    }
    
    .projects .projects-content {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 768px) {
    .header .links .links-item {
        display: none;
    }
    
    .header .links .open-btn {
        display: inline-block;
    }
    
    .gists .gists-content {
        width: 300px;
    }
    
    .projects .projects-content {
        width: 300px;
    }
}