@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

html {
    scroll-behavior: smooth;
    background-color: #fafffa;
}

/* +=+=+=+=+=+=+=+=+=+=+=+=+ */
/* =+=+=+=+=+=+=+=+=+=+=+=++ */

.latbar {
    position: absolute;
    top: 0;
    left: -400px;
    width: 400px;
    background: #192319;
    height: 100vh;
    z-index: 1;
    transition: all 0.2s ease;
}

.opened {
    left: 0;
}

.latbar h1 {
    margin-top: 100px;
    margin-left: 50px;
    color: white;
    font-family: Montserrat;
    font-size: 2.2em;
}

.latbar .links {
    margin-top: 20px;
    margin-left: 50px;
    display: flex;
    flex-direction: column;
}

.latbar .links a.separator {
    margin: 20px 0;
    font-size: 0.7em;
    text-transform: uppercase;
    transform: translate(0, 15px);
    color: #5f7e5f;
}

.latbar .links a {
    margin: 10px 0;
    color: #8dbb8d;
    font-family: Montserrat;
    font-size: 1.2em;
    transition: all 0.2s ease;
}

.latbar .links a:hover {
    color: #5f7e5f;
}

.latbar .links a ion-icon {
    transform: translateY(3.5px);
    width: 20px;
    height: 20px;
    padding-right: 10px;
}

.latbar .latbar-close ion-icon {
    color: white;
    position: absolute;
    left: 20px;
    top: 20px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

/* +=+=+=+=+=+=+=+=+=+=+=+=+ */
/* =+=+=+=+=+=+=+=+=+=+=+=++ */

.landing .header {
    background: #202E20;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.landing .header img {
    height: 60px;
    width: 60px;
    cursor: pointer;
}

.landing .header a ion-icon {
    height: 30px;
    width: 30px;
    color: white;
    cursor: pointer;
}

/* +=+=+=+=+=+=+=+=+=+=+=+=+ */
/* =+=+=+=+=+=+=+=+=+=+=+=++ */

.landing .title {
    color: #202E20;
    font-family: Montserrat;
    font-size: 4em;
    transition: all 0.2s ease;
    margin-top: 200px;
    text-align: center;
}

.landing .presentation {
    color: #202E20;
    font-family: Montserrat;
    font-size: 1.4em;
    max-width: 600px;
    transition: all 0.2s ease;
    text-align: center;
    margin: 0 auto;
    margin-top: 40px;
}

/* +=+=+=+=+=+=+=+=+=+=+=+=+ */
/* =+=+=+=+=+=+=+=+=+=+=+=++ */

.footer {
    position: absolute;
    display: flex;
    bottom: 0;
    left: 0;
    height: 300px;
    width: 100%;
    background-color: #202E20;
    clip-path: polygon(100% 100%, 0% 100% , 0.00% 14.75%, 2.00% 14.72%, 4.00% 14.64%, 6.00% 14.50%, 8.00% 14.31%, 10.00% 14.06%, 12.00% 13.76%, 14.00% 13.42%, 16.00% 13.03%, 18.00% 12.59%, 20.00% 12.12%, 22.00% 11.61%, 24.00% 11.07%, 26.00% 10.50%, 28.00% 9.91%, 30.00% 9.30%, 32.00% 8.68%, 34.00% 8.05%, 36.00% 7.41%, 38.00% 6.77%, 40.00% 6.14%, 42.00% 5.52%, 44.00% 4.92%, 46.00% 4.33%, 48.00% 3.77%, 50.00% 3.24%, 52.00% 2.74%, 54.00% 2.28%, 56.00% 1.86%, 58.00% 1.48%, 60.00% 1.15%, 62.00% 0.86%, 64.00% 0.63%, 66.00% 0.46%, 68.00% 0.33%, 70.00% 0.26%, 72.00% 0.25%, 74.00% 0.30%, 76.00% 0.40%, 78.00% 0.55%, 80.00% 0.76%, 82.00% 1.02%, 84.00% 1.33%, 86.00% 1.69%, 88.00% 2.09%, 90.00% 2.54%, 92.00% 3.02%, 94.00% 3.54%, 96.00% 4.09%, 98.00% 4.66%, 100.00% 5.26%);
}

.footer .frame {
    padding-left:50px;
    width: 250px;
    padding-top: 80px;
    height: 200px;
    font-family: Montserrat;
    display: flex;
    flex-direction: column;
}

.footer .frame h1 {
    margin: 20px 0;
    font-size: 0.7em;
    text-transform: uppercase;
    transform: translate(0, 5px);
    color: #5f7e5f;
}

.footer .frame a,
.footer .frame p {
    margin: 5px 0;
    color: #8dbb8d;
    transition: all 0.2s ease;
}

.footer .frame a:hover {
    color: #5f7e5f;
}

.footer .frame a ion-icon {
    transform: translate(0, 2px);
    padding-left: 5px;
}

@media screen and (max-width: 768px) {
    .landing .title {
        font-size: 1.8em;
    }
    
    .landing .presentation {
        font-size: 1.2em;
        max-width: 500px;
        padding: 0 40px;
    }
}