@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

a, p, h1 {
    font-family: var(--font-sub);
}

::selection {
    background: aquamarine;
    color: black;
}

.test::selection {
    background: deeppink;
    color: white;
}
  

:root {
    --cursor: url('../assets/cursor.png'), auto;
    
    --font-main: 'Montserrat';
    --font-sub: 'Noto Sans';
    
    --color-bg: #fffafa;
    --color-scrollbar-bg: #e7e2e2;
    --color-scrollbar-hand: #b6b3b3;
    --color-main: #000000;
    --color-text: #000000;
    --color-text-sub: #fffafa;
    --color-text-footer: #424242;
}

html {
    scroll-behavior: smooth;
    overflow: auto;
}

body {
    background: var(--color-bg);
    overflow: hidden;
}

body::-webkit-scrollbar {
    background: var(--color-scrollbar-bg);
    width: 0px;
}

/* %#%#%#%#%#%#%#%#%#%#%#%#%#%#%# */
/* %# MOBILE MENU */
/* %#%#%#%#%#%#%#%#%#%#%#%#%#%#%# */

.menu {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100vh;
    background: var(--color-main);
    transition: all 0.2s ease;
    z-index: 1;
}

.menu.opened {
    left: 0;
}

.menu ion-icon {
    position: absolute;
    top: 40px;
    right: 40px;
    color: white;
    width: 45px;
    height: 45px;
}

.menu div {
    display: flex;
    flex-direction: column;
    margin: 45px 0 0 40px;
}

.menu div a {
    color: white;
    font-family: var(--font-main);
    font-weight: 900;
    font-size: 2em;
    padding-bottom: 10px;
}

/* %#%#%#%#%#%#%#%#%#%#%#%#%#%#%# */
/* %# LANDING SECTION */
/* %#%#%#%#%#%#%#%#%#%#%#%#%#%#%# */

.landing {
    height: 100vh;
    background: var(--color-bg);
}

.landing .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px;
    background: var(--color-bg);
    height: 100px;
}

.landing .header .logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.landing .header .logo img {
    width: 80px;
}

.landing .header .logo p.path {
    padding-left: 30px;
    font-family: var(--font-main);
    font-weight: 600;
    transform: translateY(-8px);
    color: #424242;
}

.landing .header .logo p.path span.back-path {
    color: #cbcbcb;
}

.landing .header .links ion-icon {
    display: none;
    width: 45px;
    height: 45px;
    padding-right: 10px;
    color: #000;
}

.landing .header .links a {
    color: var(--color-text);
    font-family: var(--font-main);
    font-weight: 600;
    margin: 0 15px;
    position: relative;
}

.landing .header .links a::after {
    content: "";
    background: #000;
    width: 0;
    height: 2px;
    bottom: -3px;
    left: 0;
    position: absolute;
    transition: all 0.2s ease;
}

.landing .header .links a:hover::after {
    width: 100%;
}

.landing h1 {
    font-family: var(--font-main);
    font-size: 3em;
    text-align: center;
    margin-top: 26vh;
}

.landing p {
    font-family: var(--font-sub);
    font-size: 1.3em;
    text-align: center;
    margin: 0 auto;
    margin-top: 15px;
    max-width: 580px;
}

/* %#%#%#%#%#%#%#%#%#%#%#%#%#%#%# */
/* %# ABOUT SECTION */
/* %#%#%#%#%#%#%#%#%#%#%#%#%#%#%# */

.about {
    background: var(--color-main);
    padding: 60px;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
}

.about h1 {
    color: var(--color-text-sub);
    font-size: 2em;
    text-transform: uppercase;
    font-family: var(--font-main);
}

.about p {
    color: var(--color-text-sub);
    font-family: var(--font-sub);
    font-size: 1.3em;
    margin-top: 30px;
    max-width: 900px;
}

/* %#%#%#%#%#%#%#%#%#%#%#%#%#%#%# */
/* %# ARTICLE SECTION */
/* %#%#%#%#%#%#%#%#%#%#%#%#%#%#%# */

.article {
    background: var(--color-main);
    margin-bottom: 15px;
    padding: 60px;
    transition: all 0.5s ease;
    position: relative;
}

.article::before {
    content: "";
    position: absolute;
    top: 0;
    left: -40px;
    display: block;
    height: 100%;
    width: 40px;
    background: #000;
    transition: all 0.5s ease;
}

.article:hover {
    background: var(--color-text-footer);
    transform: translateX(40px);
}

.article:hover::before {
    background: var(--color-text-footer);
}


.article p.emphasis {
    color: #ffffff94;
    font-size: 0.8em;
    font-family: var(--font-main);
}

.article h1.title {
    color: var(--color-text-sub);
    font-size: 1.6em;
    margin-bottom: 20px;
    font-family: var(--font-main);
}

.article p.description {
    color: var(--color-text-sub);
    font-size: 1em;
    max-width: 550px;
}

/* %#%#%#%#%#%#%#%#%#%#%#%#%#%#%# */
/* %# FOOTER SECTION */
/* %#%#%#%#%#%#%#%#%#%#%#%#%#%#%# */

.footer {
    height: 100px;
    margin-top: 100px;
    padding: 0 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer .right a {
    margin-inline-start: 20px;
    color: var(--color-text-footer);
    position: relative;
}

.footer .right a::after {
    content: "";
    background: var(--color-text-footer);
    width: 0;
    height: 2px;
    bottom: -3px;
    left: 0;
    position: absolute;
    transition: all 0.2s ease;
}

.footer .right a:hover::after {
    width: 100%;
}

/* %#%#%#%#%#%#%#%#%#%#%#%#%#%#%# */
/* %# MOBILE MEDIA QUERRIES */
/* %#%#%#%#%#%#%#%#%#%#%#%#%#%#%# */

@media screen and (max-width: 476px) {
    /* =============== */
    /* LANDING SECTION */
    /* =============== */
    
    .landing .header .links ion-icon {
        display: block;
    }
    
    .landing .header .links a {
        display: none;
    }
    
    .landing .header .logo p.path {
        display: none;
    }
    
    .landing p {
        font-size: 1em;
        padding: 0 20px;
    }
}