@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

body {
    max-width: 1000px;
    background: #0A0D12;
    color: #f3e530;
    position: relative;
    height: 100vh;
}

img.logo {
    padding-top: 75px;
    padding-left: 75px;
    width: 128px;
    height: 128px;
}

p.presentation {    
    padding-top: 75px;
    padding-left: 75px;
    font-family: 'Space Mono';
    font-weight: 900;
    font-size: 1.4em;
}

div.input {
    padding-top: 75px;
    padding-left: 75px;
    display: flex;
}

div.input p.path {
    font-family: 'Space Mono';
    font-weight: 900;
    font-size: 60px;
    padding-right: 30px;
}

div.input input.entry {
    background: #0A0D12;
    border: none;
    width: 60%;
    height: 80px;
    font-size: 60px;
    color: #f3e530;
    font-family: 'Space Mono';
    font-weight: 900;

}

div.input input.entry:focus {
    outline: none;
}